In [2]:
import pandas as pd
import numpy as np
file = pd.read_csv("titanic_train.csv")
# print(type(file))
print(file.dtypes)
# help(pandas.read_csv)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [3]:
age = file['Age']
# print(age)
age_is_null = pd.isnull(age)
# print(age_is_null)
agetrue = file['Age'][age_is_null == False]
# print(agetrue)
print(sum(agetrue)/len(agetrue))

29.6991176471

In [4]:
# qiu guanxi
presur = file.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)
print(presur)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [5]:
asum = file.pivot_table(index="Embarked", values=["Fare","Survived"], aggfunc=np.sum)
print(asum)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [11]:
col = ["Age","Pclass"]
manyc = file["Age"]
# print(manyc)
# help(file.apply)
print(type(manyc))

<class 'pandas.core.series.Series'>